.cards {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 400px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 20px 0;
}

.card h2,
strong {
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 4px rgba(43, 255, 0, 0.726);
  padding-top: 10px;
}

.card p {
  font-size: 20px;
  padding-top: 5px;
}
